.assessmentList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0px;
}

.report {
    padding: 24px;
}

.assesmentHeader {
    margin-bottom: 0px;
}

.skillList {
    display: flex;
    // padding: 12px;
    width: 100%;
    gap: 30px;

    > div {
        width: 30%;
    }
}

.skillHeader {
    width: 100%;
    padding: 20px;
}

.recomendations {
    padding: 0px 12px;
    margin-bottom: 20px;
}

.details {
    padding: 8px 0px;
}
