.rank{
    height: 25px;
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.nameWrapper{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}
.leaderCard{
    display: flex;
    width: 100%;
justify-content:space-between;
    padding: 16px;
    align-items: center;
}