.createAssessment {
  display: flex;

  .editSection{
    flex: 1;
    padding: 16px;
  }

  .viewSection{
    flex: 1;
    padding: 16px;
  }
}

.assessmentWrapper{}

td{
  line-height: 1.8 !important;
  font-size: 16px !important;
}

tbody:last-child tr:last-child td{
  border-bottom: none;
}

th{
  font-weight: 700 !important;
  font-size: 16px !important;
}