@import '../../../../variables.scss';

.studentCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 150px;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid $border;
    border-radius: 32px;
}