@import '../../variables.scss';

.tabsContainer {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px;
    font-weight: 600;
    margin: 16px;

    .tab {
        width: 90px;
        box-sizing: border-box;
        text-align: center;
    }

    .selectedTab {
        padding: 8px 12px;
        border-radius: 8px;
        color: $primary;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    }
}

.student {
    margin: 16px;
}