.header{
  display: flex;
  padding: 16px;
  gap: 24px;
  align-items: center;
  width: 100%;
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  font-size: 28px;
  font-weight: 600;
  margin-top: 8px;
}