* {
  box-sizing: border-box;
  font-family: "Nunito", system-ui !important;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.005em;
}

.mainLayout{
  background: #f5f9f8;
  // background-color: #D3EEE3;
  // border-radius: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: calc(100vh - 24px);
  overflow-y: auto;
  margin: 24px 24px 0px 270px;
  padding: 32px;
  padding-bottom: 0;

  @media only screen and (max-width: 1600px) {
    margin-left: 240px;
  }
}

.home-nav {
  > div {
    padding: 32px 24px;
    box-sizing: border-box;
    width: 270px;
    background: none;
    border: none;
    box-shadow: none;

    @media only screen and (max-width: 1600px) {
      width: 240px
    }

    ul {
      margin-top: 32px;
    }

    span {
      color: #7A8A92;
      font-weight: 600;
      font-size: 18px;
    }

    svg {
      fill: #7A8A92;
    }

    .css-cveggr-MuiListItemIcon-root {
      min-width: 0;
      margin-right: 12px;
      border-radius: 50%;
      overflow: hidden;
    }

    .css-1y2w5y4-MuiListItemText-root {
      margin-top: 2px;
      margin-bottom: 0;
    }

    li {
      padding: 16px 20px;
      border-radius: 16px;
      margin-top: 10px;
      cursor: pointer;

      // &:first-of-type {
      //   background: #25BF8B;
      //   color: #ffffff;
      //   box-shadow: 0px 16px 16px -16px rgba(37, 191, 139, 0.4);

      //   span {
      //     color: #ffffff;
      //   }
    
      //   svg {
      //     fill: #ffffff;
      //   }
      // }
    }
  }

  .header-logo {
    width: 160px;
    display: block;
    margin: 16px auto 0 20px;

    img {
      width: 100%;
      display: block;
      margin-left: -8px;
    }
  }
}